<!-- <br><br>
<input type="button" value="toggle" (click)="toggle()">
<hr>
<p *ngIf="flag; else else_block">Larsen & Toubro Infotech Limited (LTI) is a global IT solutions and services company based in Mumbai, India.
     LTI was ranked number 6  in India IT companies in 2013–2014. The company has 39 offices in 30 countries.
      It employs standards of the Software Engineering Institute's (SEI) Capability Maturity Model Integration (CMMI)
       and is a Maturity Level 5 assessed organisation.</p>
<ng-template #else_block>
    <p>some alternate content</p>
</ng-template> -->

<p >Larsen & Toubro Infotech Limited (LTI) is a global IT solutions and services company based in Mumbai, India.
    LTI was ranked number 6  in India IT companies in 2013–2014. The company has 39 offices in 30 countries.
     It employs standards of the Software Engineering Institute's (SEI) Capability Maturity Model Integration (CMMI)
      and is a Maturity Level 5 assessed organisation.</p>
      <ul>
          <li *ngFor="let name of names">{{name}}</li>
      </ul>